@model Torrentinator.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Tor Status</h2>
        <ul>
            <li>
                Status: <strong>@(Model.Connected ? "Connected" : "NOT CONNECTED")</strong>
                @if (!string.IsNullOrEmpty(Model.ConnectionError))
                {
                    <pre>@Model.ConnectionError</pre>
                
                    <form asp-action="Reconnect" asp-controller="Home">
                        <button type="submit">Reconnect</button>
                    </form>
                }
            </li>
            <li>Connect Address: <strong>@Model.Address:@Model.SocksPort</strong></li>
            <li>Control Address: <strong>@Model.Address:@Model.ControlPort</strong></li>
            <li>TOR IPs: <strong>@Model.TorIP @Model.CurrentTorIP</strong></li>
        </ul>
    </div>
</div>
