@using Torrentinator.Library.Models
@model IEnumerable<Torrentinator.Models.TorrentViewModel>

@{
    ViewData["Title"] = "Torrents - Top 100 HD Movies";
}

<style type="text/css">
    tr.disabled-torrent {
        display: none;
    }
    td:nth-child(4) {
        text-align: right;
    }
</style>
<h2>Torrents</h2>

<form asp-controller="Torrents" method="post">
    <div class="btn-group" role="group" aria-label="Toolbar">
        <ul>
            <li><button asp-action="DeleteEverything" class="btn-primary">Delete All The Things</button></li>
            <li><button asp-action="RefreshIndex" class="btn-primary">Refresh Index</button></li>
        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.Status == TorrentStatus.Disabled ? "disabled-torrent" : "")">
                    <td>
                        <a href="#" onclick="return toggle('@item.TorrentId');">Description</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        <button asp-action="Disable" type="submit" asp-route-id="@item.TorrentId" asp-route-status="@(item.Status == TorrentStatus.Ready ? TorrentStatus.Disabled : TorrentStatus.Ready)">@(item.Status == TorrentStatus.Disabled ? "Enable" : "Disable")</button>
                    </td>
                </tr>
                <tr class="@(item.Status == TorrentStatus.Disabled ? "disabled-torrent" : "")">
                    <td colspan="4" style="padding: 0 50px; border-top: none;">
                        @Html.DisplayFor(modelItem => item.DownloadProgress)
                    </td>
                </tr>
                <tr data-description="@item.TorrentId" style="display: none;">                    
                    <td colspan="4" style="padding: 8px; border-top: none;">
                        <pre>@Html.Raw(item.Description)</pre>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script type="text/javascript">
    function toggle(id) {
        $('tr[data-description="' + id + '"]').toggle();
        return false;

    }
</script>